/*Обнуление__________________________________________________*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1.25;
  font-size: 16px;
  color: #000;
  font-family: "Montserrat", sans-serif;
}
/*Обнуление__________________________________________________*/
.wrapper {
  min-height: 100%;
  background-color: #ebb2e4;
}
._container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 30px;
}
._container_content {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  font-weight: 800;
  font-size: 50px;
  padding: 60px;
  border: 5px solid #000;
}

p {
  font-weight: 700;
  font-size: 30px;
  color: #db04c9;
}
.meme {
  width: 100%;
}
.img_of_meme {
  display: flex;
  justify-content: center;
  padding-bottom: 90px;
}

.img_of_meme img {
  max-width: 700px;
  border: 5px solid #000;
}

.icon_plus img {
  width: 50px;
}
.icon_plus {
  transition: transform 0.5s;
  opacity: 0;
}

.p_icon {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 15px;
}

label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  max-height: 96px;
  transition: 1s;
  border-bottom: 3px solid black;
}

input[type="radio"]:not(:checked) + label:active .img_of_meme {
  transform: scale(1.11);
}
input[type="radio"]:not(:checked) + label:active p {
  color: #db04c9;
}

input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label {
  max-height: 900px;
}
input[type="radio"]:checked + label .p_icon .icon_plus {
  transform: rotate(45deg);
}
input[type="radio"]:checked + label .p_icon p {
  color: #000;
}

@media (max-width: 820px) {
  ._container {
    padding: 15px;
  }
  h1 {
    font-size: 24px;
    padding: 20px;
  }
  .p_icon {
    padding: 10px 7px;
    height: 64px;
  }
  p {
    font-size: 20px;
  }
  .icon_plus img {
    width: 30px;
  }
  label {
    max-height: 64px;
  }
  .img_of_meme img {
    max-width: 100%;
  }
  .img_of_meme {
    padding-bottom: 20px;
  }
  .icon_plus {
    opacity: 1;
  }
}
@media (hover: hover) {
  .accordion:hover .icon_plus {
    opacity: 1;
  }
  .accordion:hover p {
    color: #000;
  }
  label:hover {
    max-height: 900px;
  }
  label:hover .p_icon .icon_plus {
    transform: rotate(45deg);
  }
}
